@use 'variables';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Manrope, sans-serif;
  background-color: variables.$bg-main;
  color: variables.$color-text-main;
}
