// Backgrounds
$bg-main: #fff;
$bg-light: #f9f9f9;
$bg-accent: #fcfaef;

// Text colors
$color-text-main: #1b2129;
$color-text-muted: #7e7e83;
$color-text-white: #fff;
$color-text-footer-dark: #191919;
$color-text-footer-light: #9393a3;

// Button & Accent and hover colors
$color-accent: #f98921;
$color-dark: #1b2129;
$color-dark-pressed: #010810;
$color-border-hover: #dbdbdb;
