@use './reset';
@use './variables';
@use './mixins';
@use './container';
@use './header';
@use './hero';
@use './menu';
@use './recommended';
@use './categories';
@use './story';
@use './contact_us';
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap';

body.no-scroll {
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 96px;
  padding-bottom: 64px;

  @media (min-width: 744px) {
    gap: 120px;
    padding-bottom: 120px;
  }
}
